.date__heading {
  width: 100%;
  text-align: center;
  margin: 15px 0;
}
  
.table .table__heading-column {
  text-align: center;
  height: 60px;
  padding: 10px;
}

.table .table__body-column {
  line-height: 60px;
  width: 12.5%;
  padding: 0;
}

.table .table__row {
  height: 40px;
}

.table .table__column {
  width: 12.5%;
  height: 60px;
  border-left: 1px solid rgb(218, 218, 218);
  border-right: 1px solid lightgrey;
  padding: 0;
}
