.table .table__heading-column {
  padding: 0;
  text-align: center;
  line-height: 40px;
}

.table .table__body-column {
  border: 2px solid #8992b1;
  line-height: 40px;
  width: 12.5%;
  padding: 0;
}

.table .table__row {
  height: 40px;
  border: 2px solid #8992b1;
}

.table .table__column {
  width: 12.5%;
  height: 40px;
  border: 2px solid #8992b1;
  padding: 0;
}

.table .table__button {
  display: block;
  width: 100%;
  padding: 0;
  height: 100%;
  background-color: #fff;
  border-style: none;
}