.table__scope {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.table__scope .badge {
  background: #1f9fcf;
}

.table__button {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
}

.table__button:hover .badge {
  background: #1a82ae;
}
